VITE_USERS_SERVICE=https://api-test.casurid.com/users
VITE_CASURID_SERVICE=https://api-test.casurid.com/casurid
VITE_ACADEMIC_SERVICE=https://api-test.casurid.com/academic
VITE_APP_NAME=Akademia
VITE_APP_LOGO=https://academia-user-serverless-deployment.s3.amazonaws.com/files/static/images/akademia-by-kamila.png
VITE_APP_FAVICON=https://academia-user-serverless-deployment.s3.amazonaws.com/files/static/images/favicon.png
VITE_APP_ALLOW_REGISTRATION=false
VITE_LTI_SERVICE=http://localhost:3000
VITE_LTI_PROVIDER_SERVICE=https://5a8b-179-32-200-113.ngrok.io